#home {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
  & > .info {
    background-color: #78c110;
    padding: 0.5vw 4vw;
    color: #fff;
    border-radius: 4vw;
    font-size: 1.5vw;
  }
  & > .middle {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    & > .head {
      z-index: -1;
      font-size: 18vw;
      color: #78c110;
      line-height: 18vw;
      margin-top: 2vw;
    }
    & > .med {
      z-index: 100;
      position: absolute;
      img {
        height: 22vw;
      }
    }
    & > .subHead {
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 86%;
      & > .left {
        height: 10vw;
        width: 23vw;

        img {
          height: 100%;
          cursor: pointer;
        }
      }
      & > .right {
        font-size: 3.5vw;
        line-height: 4.5vw;
      }
    }
    & > .detail {
      z-index: -1;
      width: 60%;
      font-size: 1.1vw;
      margin-left: 6vw;
    }
  }
  & > .sub {
    border: 2px solid #78c110;
    color: #78c110;
    border-radius: 10px;
    padding: 0.5vw;
    padding-left: 1vw;
    display: flex;
    gap: 2vw;
    margin-top: 1vw;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #78c110;
      color: #fff;
      & > div {
        rotate: -45deg;
      }
    }
    & > div {
      transition: rotate 0.2s ease-in-out;
    }
  }
  & > .quote {
    margin-top: 2vw;
    font-size: 1.2vw;
  }
  @media (max-width: 1000px) {
    & > .middle {
      & > .head {
        line-height: 25vw;
      }
      & > .detail {
        font-size: 2vw;
        width: 80%;
        margin: 2vw 0;
      }
    }
  }
}
