#reviews {
  margin: 4vw 0;
  & > .topic {
    width: 100%;
    font-size: 3vw;
  }
  & > .text {
    font-size: 1.2vw;
    line-height: 3vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
  }
  & > .cards {
    display: flex;
    gap: 2vw;
    overflow-x: scroll;
    padding: 2vw;
    &::-webkit-scrollbar {
      display: none;
    }

    & > .reviewCard {
      position: relative;
      box-shadow: 0 0 10px #0000004a;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: 2vw;
      padding-bottom: 4vw;
      position: relative;

      &:nth-child(2n + 1) {
        background-color: #78c110;
        color: #fff;
        & > .photo {
          border: 2px solid #fff;
          border-radius: 50%;
        }
      }
      & > .photo {
        position: absolute;
        top: 0;
        left: 10%;
        transform: translateY(-50%);
        border: 2px solid #000;
        border-radius: 50%;
        img {
          width: 3vw;
          height: 3vw;
          object-fit: cover;
          object-position: top;
          border-radius: 50%;
        }
      }
      & > .name {
        font-size: 1.5vw;
        margin-bottom: 1vw;
      }
      & > .comment {
        width: 18vw;
      }
      &>.rating{
        display: flex;
        position: absolute;
        bottom: 10%;
        align-items: center;
        margin-top: 1vw;
        &>.stars{
            &>.star{
                width: 1.5vw;
            }
        }
        &>p{
            font-size: 1.1vw;
            padding: 0 0.5vw;
        }
      }
    }
  }
}
