#howTo {
  & > .topic {
    width: 100%;
    font-size: 1.2vw;
  }
  & > .container {
    position: relative;
    padding-top: 5vw;
    margin: 3.5vw 0;
    & > .buttons {
      position: absolute;
      display: flex;
      gap: 2vw;
      top: 0;
      padding-left: 4vw;
      z-index: 2;
      & > .circle {
        border-radius: 50%;
        height: 10vw;
        width: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6vw;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        & > div {
          transition: rotate 0.3s ease-in-out;
        }
        &.solid {
          background-color: #78c110;
          color: #fff;
          & > div {
            rotate: -45deg;
          }
        }
        &.hollow {
          background-color: #fff;
          border: 2px dashed #78c110;
          color: #78c110;
          & > div {
            rotate: 0deg;
          }
        }
      }
    }
    & > .outer {
      & > .up {
        width: 100%;
        height: 9vw;
        z-index: 3;
        background-color: #d9d9d9;
        overflow: hidden;
        & > .cover {
          z-index: 9;
          background-color: #d9d9d9;
          height: 100%;
          width: 200%;
          display: flex;
          gap: 2.8vw;
          transform: translateX(-44.4%);
          & > .back {
            background-color: #fff;
            border-radius: 4vw;
            height: 150%;
            position: relative;
            top: -50%;
            width: 100%;
            // box-shadow: inset 0 0 4px #000;
          }
        }
      }
      & > .down {
        z-index: 1;
        height: 20vw;
        background-color: #d9d9d9;
        border-radius: 5vw;
        box-shadow: 0 0 10px #00000053;
        overflow: hidden;
        & > .cover {
          height: 100%;
          width: 200%;
          display: flex;
          & > .box {
            height: 100%;
            width: 100%;
            display: flex;
            padding: 2vw;
            justify-content: space-evenly;
            position: relative;
            & > .dash {
              position: absolute;
              top: 55%;
              width: 70%;
              height: 0px;
              border: 2px dashed #000;
            }
            & > .step {
              display: flex;
              flex-direction: column;
              align-items: center;
              & > .image {
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  height: 80%;
                }
              }
              & > .num {
                height: 2vw;
                width: 2vw;
                background-color: #000;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                z-index: 1;
                font-size: 1vw;
              }
              & > .head {
                font-weight: 700;
                font-size: 1.2vw;
              }
              & > .des {
                margin-top: 0.8vw;
                font-size: 0.9vw;
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}
