@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
html::-webkit-scrollbar{
    width: 12px;
}
html::-webkit-scrollbar-thumb{
    background-color: #a9a9a9;
    border-radius: 6px;
}