#aboutUs{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 5vw 0;
    user-select: none;
    &>.topic{
        width: 100%;
        font-size: 1.2vw;
    }
    &>.cover{
        display: flex;
        align-items: center;
        gap: 10vw;
        &>.l{
            font-size: 2vw;
            line-height: 2.5vw;
            display: flex;
            flex-direction: column;
            gap: 4vw;
            width: 40vw;
            &>a{
                font-size: 1.7vw;
                text-decoration: underline;
            }
        }
        &>.r{
            width: 30vw;
        }
    }
    @media (max-width:800px) {
        &>.topic{
            font-size: 0.9rem;
            margin-bottom: 1rem;
        }
        &>.cover{
            flex-direction: column;
            gap: 0;
            &>.l{
                font-size: 1rem;
                line-height: 1.5rem;
                width: auto;
                &>a{
                    font-size: 0.8rem;
                }
            }
            &>.r{
                width: auto;
            }
        }
    }
}