// Default options
$defaultDuration: 0.3s;
$primaryColour: #7ec9159e;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, 0.6);

// As is often the case, some devices/browsers need additional code to get CSS to work
// in the most desired way. These mixins are used to quickly drop in hacks for each element
@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* Outline Inward */
.outline-inward {
  display: inline-block;
  $outerBorderWidth: 2px;
  $innerBorderWidth: 2px;

  position: relative;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:before {
    content: "";
    position: absolute;
    border: $primaryColour solid $outerBorderWidth;
    top: -($outerBorderWidth + $innerBorderWidth) * 2;
    right: -($outerBorderWidth + $innerBorderWidth) * 2;
    bottom: -($outerBorderWidth + $innerBorderWidth) * 2;
    left: -($outerBorderWidth + $innerBorderWidth) * 2;
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: top right bottom left;
  }

  &:hover:before {
    top: -($outerBorderWidth + $innerBorderWidth);
    right: -($outerBorderWidth + $innerBorderWidth);
    bottom: -($outerBorderWidth + $innerBorderWidth);
    left: -($outerBorderWidth + $innerBorderWidth);
    opacity: 1;
  }
}
#Nav {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 20px 10px #fff;
  margin-bottom: 50px;
  z-index: 99;
  .cover {
    margin-top: min(2vw, 50px);
    height: 70%;
    width: 85%;
    border: 1px solid #78c110;
    border-radius: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;
    .l {
      margin-left: 2vw;
      height: 2.5vw;
      img {
        height: 100%;
        cursor: pointer;
      }
    }
    .c {
      display: flex;
      gap: 2.5vw;
      font-size: 1.2vw;
      .links {
        cursor: pointer;
        padding: 0 10px;
      }
    }
    .r {
      border-radius: 100px;
      background-color: #78c110;
      padding: 0.5vw;
      padding-left: 1vw;
      display: flex;
      justify-content: space-between;
      gap: 0.6vw;
      align-items: center;
      font-size: 0.95vw;
      cursor: pointer;
      &:hover{
        &>.circle{
            rotate: -45deg;
        }
      }
      .circle {
        border-radius: 50%;
        background-color: #fff;
        padding: 2px;
        rotate: 0deg;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  
  @media (max-width: 1000px) {
    .cover {
      width: 95%;
      .l{
        height: 2rem;
      }
      .c{
        gap:0.5vw;
        font-size: 1rem;
      }
      .r{
        gap: 1vw;
      }
    }
  }
}
